.houseDetail-header{
	height: 600px;
	background-image: linear-gradient(-180deg ,rgba(1,1,1,0), rgba(0 , 0, 0, 0.9)), url(../image/img03.jpg);
	background-size: cover;
	overflow: hidden;
	padding-bottom: 50px;
}
.img-secondFloor{
	display: none;
}
.houseDetail-header-leftRight{
	width: 50px;
	height: 100px;
	line-height: 100px;
	background-image: linear-gradient(90deg, rgba(19, 41, 61, 0.9) 0%, rgba(19, 41, 61, 0.9) 100%);
}
.houseDetail-header-leftRight:hover i{
	color: white !important;
}
.houseDetail-header-none-icon{
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-image: linear-gradient(90deg, rgba(19, 41, 61, 0.9) 0%, rgba(19, 41, 61, 0.9) 100%);
}
.houseDetail-header-none-text{
	background-color: rgba(17, 74, 130, 0.9);
	height: 60px;
	line-height: 60px;
}
.houseDetail-header-none:hover .houseDetail-header-none-text{
	display: block !important;
}
.houseDetail-header-none:hover .houseDetail-header-none-icon i{
	color: white !important;
}
.houseDetail-header-leftRight:hover,
.houseDetail-header-none:hover .houseDetail-header-none-icon{
	background-image: linear-gradient(-180deg ,rgba(1,1,1,0), rgba(0 , 0, 0, 0.9)) !important;
}
.houseDetail-header-icon>li:hover .houseDetail-header-icon-info{
	color: white !important;
}
@media screen and (max-width: 992px){
	.houseDetail-header{
		height: 500px;
	}
	.house-detail-similarProperty{
		font-size: 30px !important;
	}
}
@media screen and (max-width: 768px){
	.houseDetail-header{
		height: 450px;
		padding-bottom: 20px;
	}
	.about-header{
		height: 214px;
		padding-top: 60px;
	}
	.houseDetail-header-icon{
		justify-content: flex-start !important;
	}
	.houseDetail-header-share{
		text-align: left !important;
	}
}
@media screen and (max-width: 576px){
	.house-detail-similarProperty{
		font-size: 23px !important;
	}
	.houseDetail-header{
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 380px){

}
